<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Cadastro de Usuário</h5>
        {{#if messages.message}}
          <div class="alertarMessage"><p>{{messages.message}}</p></div>
        {{/if}}
        {{#if messages.success}}
          <div class="alertarMessageSucess"><p>{{messages.success}}</p></div>
        {{/if}}
        <div class="card">
          <div class="card-body col-12">

            <form action="/register" method="POST">
              <div class="mb-3">
                <label for="nameUser" class="form-label">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="nameUser"
                  aria-describedby="nameUser"
                  placeholder="Informe o nome do usuário que deseja cadastrar"
                  value="{{name}}"
                />
              </div>
              <div class="mb-3 row">
                <div class="col-md">
                  <label for="cpfUser" class="form-label">CPF</label>
                  <input
                    type="number"
                    class="form-control"
                    name="cpf"
                    id="cpfUser"
                    aria-describedby="cpfUser"
                    placeholder="Informe o CPF do usuário que deseja cadastrar"
                    value="{{cpf}}"
                  />
                </div>
                <div class="col-md">
                  <label for="rgUser" class="form-label">RG</label>
                  <input
                    type="number"
                    class="form-control"
                    name="rg"
                    id="rgUser"
                    aria-describedby="rgUser"
                    placeholder="Informe o RG do usuário que deseja cadastrar"
                    value="{{rg}}"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="telefoneUser" class="form-label">Telefone</label>
                <input
                  type="number"
                  class="form-control"
                  name="telefone"
                  id="telefoneUser"
                  aria-describedby="telefoneUser"
                  placeholder="Informe o Telefone do usuário que deseja cadastrar"
                  value="{{telefone}}"
                />
              </div>
              <div class="mb-3">
                <label for="emailUser" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="emailUser"
                  aria-describedby="emailUser"
                  placeholder="Informe o E-mail do usuário que deseja cadastrar"
                  value="{{email}}"
                />
              </div>
              <div class="mb-3 row">
                <div class="col-md">
                  <label for="passUser" class="form-label">Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="passUser"
                    aria-describedby="passUser"
                    placeholder="Informe uma Senha para usuário que deseja cadastrar"
                  />
                </div>
                <div class="col-md">
                  <label for="confPassUser" class="form-label">Confirme a Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    name="confpassword"
                    id="confPassUser"
                    aria-describedby="confPassUser"
                    placeholder="Confirme a Senha do usuário que deseja cadastrar"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-lg-2 form-check">
                  <input
                    type="radio"
                    name="nivel"
                    class="form-check-input"
                    id="exampleCheck1"
                    value="adm"
                  />
                  <label
                    class="form-check-label"
                    for="exampleCheck1"
                  >Administrador</label>
                </div>
                <div class="col-2 form-check">
                  <input
                    type="radio"
                    name="nivel"
                    class="form-check-input"
                    id="exampleCheck2"
                    value="user"
                  />
                  <label
                    class="form-check-label"
                    for="exampleCheck2"
                  >Usuario</label>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">
                Cadastrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>