<div class="container-lg">
  <div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">
          Detalhes dos serviço
        </h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Id</h6>
                </th>
                </th><th class="border-bottom-0">
                  <form id="myForm" action="/listarservicos/" method="get">
                    <select name="id" id="tipoServico" class="formSelect">
                      <option>Sel. Operação</option>
                      {{#each tipo}}
                        <option value="{{this.id}}">{{this.tipo}}</option>
                      {{/each}}
                      <option value="0">Todos</option>
                    </select>
                  </form>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Nome</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Taxa</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Prazo Máximo</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Idade Máxima</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Prazo Máximo até</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">LTV</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Valor Mínimo</h6>
                </th>
                {{!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Valor Maximo</h6>
              </th> --}}
              <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Edição</h6>
                  </tr>
              </tr>
            </thead>
            <tbody>
              {{#each servicos}}
                <tr>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">{{this.id}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{this.tipo}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    
                     <h6 class="fw-semibold mb-1">{{this.name}}</h6>
                   
                  </td>
                  <td class="border-bottom-0">
                    {{#if (eq this.tipodataxa 'anual')}}
                      <h6 class="fw-semibold mb-1">{{this.taxa}}% a.a</h6>
                    {{else}}
                      <h6 class="fw-semibold mb-1">{{this.taxa}}% a.m</h6>
                    {{/if}}
                  </td>
                  <td class="border-bottom-0">
                    <p class="mb-0 fw-normal">{{this.prazo}}</p>
                  </td>
                  <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                      <h6 class="fw-semibold mb-1">{{this.idademax}} anos</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">{{this.idademxreducao}} anos</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{this.ltv}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1 formt-vl">{{this.vmin}}</h6>
                  {{!-- </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1 formt-vl">{{this.vmax}}</h6>
                  </td> --}}
                <td class="border-bottom-0">
                    <a href="/editservico/{{this.id}}"><i class="bi bi-pencil-square icones"></i></a>
                    <a href="/delete/{{this.id}}"><i class="bi bi-trash icones"></i></a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>